
div{
    background-color: yellowgreen;
    width: 50%;
    height: 50%;
    transition: transform 0.6s ease;
    align-items: center;
    justify-content: center;

}

div:hover {
    transform: rotate(360deg);
}