body {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "blue blue"
        "yellow red"
        "yellow orange"
        "yellow green";

}

section {
    padding: 2em;
    margin: 1em;
}

#green {
    background-color: #baffc9;
    grid-area: green;
}

#yellow {
    background-color: #ffffba;
    grid-area: yellow;
}

#red {
    background-color: #ffb3ba;
    grid-area: red;
}

#orange {
    background-color: #ffdfba;
    grid-area: orange;
}

#blue {
    background-color: #bae1ff;
    grid-area: blue;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1em;
}

#blue  ul {
    justify-content: space-between;
}

#blue li {
    background-color: white;
    padding: 1em;
    flex: 1;
}

#blue li#gran {
    flex-grow: 3;
}

#orange ul {
    flex-direction: row-reverse; 
    justify-content: space-between;
}

#orange li {
    background-color: white;
    padding: 1em;
    flex: 1;
}
