.grid-container {
    display: grid;
    /*grid gap, separacio INTERNA edl grid, vertical horitzontal*/
    grid-gap: 10px 10px;
    /*color de la separacio*/
    background-color: #2196F3;
    /*padding, separacio EXTERNA del grid*/
    padding: 10px;
    /*grid-template-columns, especifiques el tamany de les n columnes que vols posar */
    /*grid-template-columns: 20% 30% 30% 20%*/
    /*pots fer servir fr , de fraccio, per a "repartir l'espai que queda"*/
    grid-template-columns: 50px 2fr 4fr 10%;
    grid-template-rows: 1fr 2fr 2fr;
}

.grid-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.item1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 5;
}
.item2{
    background-color: red;
    grid-row-start: 2;
    grid-row-end: 4;
}
.item3{
    background-color: orange;
    grid-row-start: 3;
    grid-column-start: 2;

}
.item4{
    background-color: purple;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-column-end: 5;
}
.item5{
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 4;
}
.item6{
    background-color: magenta;
}