#container {
    display: flex;
    flex-direction: row;
    background-color: yellowgreen;
    justify-content: space-between;

}
.a, .b, .c, .d{
    background-color: yellow;
    padding: 15px;
    width: 50px;
    height: 100px;
}