/* Banner que va por encima de todo */
body{
    background-color: black;
}

.gira{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: zoom 3s ease-in-out infinite;

}
@keyframes zoom {
    0%  { transform: rotate(0deg) scale(1)}
    50% { transform: rotate(360deg) scale(0.5)}
    100% { transform: rotate(360deg) scale(1)}
}


/* Texto que se mueve */
.texto {
    display: inline-block;
    padding-left: 100%;
    animation: mover 10s linear infinite;
}


@keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.banner2{
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 30%;
    animation: girarLoop 10s linear infinite;
}

@keyframes girarLoop {
    0%   { transform: translateX(-100%) rotateY(0deg); }
    50%  { transform: translateX(100%) rotateY(0deg); }
    51%  { transform: translateX(100%) rotateY(180deg); }
    100% { transform: translateX(-100%) rotateY(180deg); }
}
.zooomer{
    filter: contrast(120);
    animation: zoomer 3s ease-in-out infinite;
}
@keyframes zoomer {

    0% {transform: scale(0.1)}
    100% {transform: scale(1)}
}