body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", serif;
    background: url("images/Sin 2.jpg")no-repeat fixed;
    background-size: cover;
    height: 100%;
}

form{
    background-color: rgba(229, 190, 1, 0.5);
    border: 5px solid #7a8a94;
    padding: 80px;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 90%;
    height: 90%;
    border-radius: 10%;
}
.container{
    margin: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.splatoon2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.splatoon2 input{
    padding: 5px;
    margin: 2px;
    width: 100%;
    height: 100%;
    background-color: red;
    font-family: "Comic Sans MS", serif;
}
.botoncito button{
    padding: 5px;
    margin: 2px;
    width: 100%;
    height: 100%;
    background-color: green;
    font-family: "Comic Sans MS", serif;
}
.recuerdame{
    background-color: blueviolet;
}
@media (max-width: 600px) {
    .splatoon2{
        flex-direction: column;
    }
    .form{
        flex-direction: row;
    }
}