body {
    display: grid;
    place-items: center;
    font-family: "Comic Sans MS", serif;
    background: url("images/Sin 2.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(229, 190, 1, 0.5);
    border: 5px solid #7a8a94;
    padding: 80px;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    max-width: 500px;
    width: 90%;
    gap: 1rem;
}
form:hover{
    animation: girar2 3s linear infinite;
}

@keyframes girar2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 90%;
    height: 90%;
    border-radius: 10%;
}

.container {
    display: grid;
    gap: 1rem;
    padding: 16px;
}

.splatoon2 {
    animation: girar 2s linear infinite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.splatoon2 input {
    padding: 5px;
    margin: 2px;
    width: 100%;
    height: 100%;
    background-color: red;
    font-family: "Comic Sans MS", serif;
}

.botoncito button {
    padding: 5px;
    margin: 2px;
    width: 100%;
    height: 100%;
    background-color: green;
    font-family: "Comic Sans MS", serif;
}

.recuerdame {
    background-color: blueviolet;
    padding: 0.5rem;
}

@media (max-width: 600px) {
    form {
        padding: 40px;
        grid-template-columns: 1fr;
    }

    .container {
        padding: 8px;
        gap: 0.5rem;
    }

    .splatoon2 {
        flex-direction: column;
        align-items: stretch;
    }

    .splatoon2 label {
        margin-bottom: 0.3rem;
        text-align: left;
    }

    img.avatar {
        width: 70%;
    }
}
