#container{
    display: flex;
    flex-direction: row;
    background-color: lime;
    gap: 20px;
    justify-content: center;
}
.a, .b, .c, .d, .e{
    background-color: white;
    width: 100px;
    height: 200px;

}