div{
    height: 100px;
    width: 100px;
    border-radius: 300px;
    background-color: greenyellow;
    animation: moviminetoZ 8s linear;
    position: relative;
}
@keyframes moviminetoZ {
    0%{left: 0; top:0; width: 200px; height: 200px}
    25%{left: 200px; top: 0;}
    50%{; scale: 0.5}
    75%{); scale: 0.25}
    100%{scale: 0.25}
}


50%{left: 400px; top: 400px}
75%{left: 0; top: 400px}
100%{left: 0; top: 0}