body { border: 0; margin: 0; padding: 0; }
header { background-color: forestgreen; line-height: 80px; }
nav { background-color: navy;}
article { background-color: fuchsia;}
footer { background-color: coral; }
header, nav, article, footer { color: white; padding: 10px; }
header, footer { height: 12vmax; text-align: center; width: 100%}
h1, p { margin: 0 0 15px 0; }
nav a { border-bottom: 1px solid rgba(255,255,255,.3); color: white; line-height: 40px; text-decoration: none; }
html, body{
    height:100vh;
    width: 100vw;
}
main article{
    width: 100%;
}
main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "titulo titulo"
    "azu    rosa"
    "janrana janrana"
}
header{
    grid-area: titulo;
    height: 100%;
}
nav{
    grid-area: azu;
    display: flex;
    flex-direction: column;
}
article{
    grid-area: rosa;
}
footer{
    grid-area: janrana;
}
@media (max-width: 600px) {

    main{
        grid-template-rows: 1fr auto auto 1fr;
        grid-template-areas:
        "titulo titulo"
        "azu    azu"
        "rosa   rosa"
        "janrana janrana";
    }
}